body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider-track {
    position: relative;
    width: 175px;
    height: 300px;
    background: #F3F5F9;
    border: 1px solid #DFE3EB;
    border-radius: 8px;
    overflow: hidden;
}

.slider-track::before,
.slider-track::after {
    content: '';
    position: absolute;
    background: #DFE3EB; /* Line color */
}

.slider-track::before {
    width: 1px; /* Vertical line width */
    height: 100%;
    top: 0;
    left: 50%; /* Center vertically */
    transform: translateX(-50%);
}

.slider-track::after {
    width: 100%;
    height: 1px; /* Horizontal line height */
    top: 50%; /* Center horizontally */
    left: 0;
    transform: translateY(-50%);
}

.slider-fill {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%; /* Starts from the middle */
    background: linear-gradient(to top, #5aaee0, transparent); /* Lighter blue to transparent */
    border-top: 1px solid #DFE3EB; /* Add a border */
    z-index: 9;
}

.vertical-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px; 
    height: 175px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); 
    margin: 0;
    z-index: 9;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0186D2;
    border-radius: 50%;
    cursor: pointer;
    outline: 5px solid #fff;
}

.vertical-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0186D2;
    border-radius: 50%;
    cursor: pointer;
    outline: 5px solid #fff;
}
